html, body {
  height: 100%
}

body {
  background-color: #201D27;
}

// temp
.registration,
.about {
  min-height: 200px;
  outline: 1px dashed rgba(254, 254, 254, 0.18);
  margin: 40px;

  h2 {
    text-align: center;
  }
}