html, body {
  height: 100%
}

input[type=date]:invalid::-webkit-datetime-edit {
  color: #b1b1b1;
}

.feedback > div,
.invalid-feedback {
  &::before {
    content: "o";
    margin-right: 7px;
  }
}
