.events {
  background-color: #F4F4F4;
  padding: 55px 0;

  @include media-breakpoint-up(md) {
    padding: 75px 0;
  }

  @include media-breakpoint-up(lg) {
    padding: 70px 0;
  }

  &-title {
    color: #252525;
    text-align: center;
    font-size: 24px;
    font-weight: 800;
    line-height: 162.5%;
    margin-bottom: 40px;

    @include media-breakpoint-up(md) {
      font-size: 30px;
      line-height: 130%;
    }

    @include media-breakpoint-up(md) {
      margin-bottom: 47px;
    }
  }
}

$gap: 30px;

.gallery {
  &-wrapper {
    display: flex;
    scrollbar-width: none; // FF
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scroll-padding-left: $gap;

    &::-webkit-scrollbar {
      display: none;
    }

    &::after {
      content: '';
      padding-right: 0.02px; /* smallest size that is cross browser */
    }
  }

  &-item {
    width: 170px;
    height: 170px;
    align-self: flex-end; // for gutter at the end of the list
    scroll-snap-align: start;
    flex-shrink: 0;
    transition: opacity 0.0ms ease-out;
    background-color: #fff;
    border: 1px solid #CDCDCD;
    margin-right: 30px;
    padding: 2px;

    &:first-child {
      margin-left: $gap;
      scroll-margin-left: $gap;
    }

    &:last-child {
      margin-right: $gap;
    }
  }
}