.stepBadge {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  color: #201D27;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  background-color: #ccc;
  border-radius: 50%;

  @include media-breakpoint-up(xl) {
    width: 26px;
    height: 26px;
  }

  &::after {
    content: '';
    position: absolute;
    inset: -2px;
    border-radius: inherit;
    border: 1px solid #fff;
    z-index: -1;
  }

  &--active {
    color: #fff;
    background-color: $success;

    &::after {
      border-color: $success;
    }
  }
}